.home-content {
    animation: home 1s ease 0s 1 normal forwards;
}
@keyframes home {
	0% {
		opacity: 0;
		transform: translateX(-50px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

.home-img {
    animation: home-img 2s ease 0s 1 normal forwards;
}
@keyframes home-img {
	0% {
		opacity: 0;
		transform: translateX(50px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

.about-img {
    animation: about-img 2s ease 0s 1 normal forwards;
}
@keyframes about-img {
	0% {
		opacity: 0;
		transform: scale(0.6);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}

.about-content {
    animation: about-content 1s ease 0s 1 normal forwards;
}
@keyframes about-content {
	0% {
		opacity: 0;
		transform: translateX(50px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}