@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-color: #14161b;
  --secondary-bg-color: #1c1f25;
  --text-color: #fff;
  --main-color: #e23434;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 2.5rem;
  color: var(--main-color);
  font-weight: 600;
  cursor: pointer;
}

.navbar a {
  font-size: 1.7rem;
  color: var(--text-color);
  margin-left: 2rem;
  transition: 0.3s;
}

.navbar a:hover {
  color: var(--main-color);
}

#menu-icon {
  font-size: 3.6rem;
  color: var(--text-color);
  display: none;
}

.home {
  display: flex;
  justify-content: center;
}

.home-img img {
  width: 35vw;
}

.home-content h1 {
  font-size: 5.6rem;
  font-weight: 700;
}

.home-content h3 {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.3;
}

.home-content p {
  font-size: 1.6rem;
}

.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 2rem;
  color: var(--main-color);
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.5s ease;
}

.social-media a:hover {
  background: var(--main-color);
  color: var(--text-color);
  box-shadow: 0 0 1rem var(--main-color);
}

.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--main-color);
  border-radius: 1rem;
  color: var(--text-color);
  transition: 0.5s ease;
  font-size: 1.6rem;
}

button {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--main-color);
  border-radius: 1rem;
  color: var(--text-color);
  transition: 0.5s ease;
  font-size: 1.6rem;
  cursor: pointer;
}

button:hover {
  box-shadow: 0 0 1rem var(--main-color);
}

.btn:hover {
  box-shadow: 0 0 1rem var(--main-color);
}

.about {
  display: flex;
  justify-content: center;

  gap: 2rem;
  background: var(--secondary-bg-color);
}

.about-img img {
  width: 40vw;
  padding-top: 20%;
}

.heading {
  text-align: center;
  font-size: 4.5rem;
}

.about-content h2 {
  text-align: left;
  line-height: 1.2;
}

.about-content h3 {
  font-size: 2.6rem;
}

.about-content p {
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
}

.services h2 {
  margin-bottom: 5rem;
}

.services-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.services-container .service-box {
  flex: 1 1 30rem;
  background: var(--secondary-bg-color);
  padding: 3rem 2rem 4rem;
  border-radius: 2rem;
  text-align: center;
  border: 0.2rem solid var(--bg-color);
  transition: 0.5s ease;
}

.services-container .service-box:hover {
  border-color: var(--main-color);
  transform: scale(1.02);
}

.service-box i {
  font-size: 7rem;
  color: var(--main-color);
}

.service-box h3 {
  font-size: 2.6rem;
}

.service-box p {
  font-size: 1.6rem;
}

/* Popup Info */
.popup-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  justify-content: center;
  align-items: center;
}

.popup-content {
  position: absolute;
  top: 20%;
  left: 20%;
  background: var(--secondary-bg-color);
  width: 60%;
  padding: 20px;
  border-radius: 20px;
  box-sizing: border-box;
  animation: myAnim 0.5s ease 0s 1 normal forwards;
}

@keyframes myAnim {
  0% {
    opacity: 0;
    transform: scale(0.6);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.popup-content h3 {
  font-size: 2.6rem;
  text-align: left;
}

.popup-content p {
  font-size: 1.6rem;
  text-align: left;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 2.6rem;
  color: var(--main-color);
}
/* Popup Info ^^^*/

.products h2 {
  margin-bottom: 2rem;
}

.testimonial {
  background: var(--secondary-bg-color);
}

.testimonial h2 {
  margin-bottom: 4rem;
}

.testimonials-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2.5rem;
}

.testimonials-container .testimonial-box {
  position: relative;
  border-radius: 2rem;
  box-shadow: 0 0 1rem var(--bg-color);
  overflow: hidden;
  display: flex;
}

.testimonial-box img {
  width: 100%;
}
