@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: 'Tondo';
  src: url(/fonts/Tondo\ MNL.ttf);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-color: #14161b;
  --secondary-bg-color: #1c1f25;
  --text-color: #fff;
  --main-color: #e23434;
  --content-color: rgba(251, 27, 27, 0.821);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  justify-content: center;
  align-items: center;
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}



/* Home section start */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.header.sticky {
  border-bottom: .1rem solid rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 2.5rem;
  font-family: 'Tondo';
  color: var(--main-color);
  font-weight: 550;
  cursor: pointer;
}



/*Navigation*/
.navbar a {
  position: relative;
  font-size: 1.7rem;
  color: var(--text-color);
  margin-left: 2.8rem;
  transition: 0.2s;
  font-weight: 500;
  overflow: hidden;
}

.navbar a:hover {
  color: var(--text-color);
  font-weight: 500;
}

.navbar a::before {
  position: absolute;
  content: '';
  top: 0;
  left: -5px;
  width: 0%;
  height: 120%;
  transform: skewX(45deg);
  background-color: var(--content-color);
  z-index: -1;
  transition: all 200ms;
}

.navbar a:hover:before {
  width: 115%;
}





#menu-icon {
  font-size: 3.6rem;
  color: var(--text-color);
  display: none;
}

.home {
  display: flex;
  justify-content: center;
}

.home-img img {
  width: 35vw;
}

.home-content h1 {
  margin-top: 20%;
}

.home-content h1 {
  font-family: 'Tondo';
  font-size: 5.6rem;
  font-weight: 700;
}

.home-content h3 {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.3;
}

.home-content p {
  font-size: 1.6rem;
}

.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 2rem;
  color: var(--main-color);
  margin: 3rem 1.5rem 3rem 0;
  transition: 200ms ease-in-out;
}

.social-media a:hover {
  background: var(--main-color);
  color: var(--text-color);
  box-shadow: 0 0 1rem var(--main-color);
}

.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--main-color);
  border-radius: 1rem;
  color: var(--text-color);
  transition: 0.2s ease;
  font-size: 1.6rem;
}

button {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--main-color);
  border-radius: 1rem;
  color: var(--text-color);
  transition: 0.5s ease;
  font-size: 1.6rem;
  cursor: pointer;
}

button:hover {
  box-shadow: 0 0 1rem var(--main-color);
}

.btn:hover {
  transform: scale(1.1);
  box-shadow: 0 0 1rem var(--main-color);
}
/* Home section end */

/* About section start */
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: var(--secondary-bg-color);
}

.about-img img {
  width: 40vw;
  padding-top: 20%;
}

.heading {
  text-align: center;
  font-size: 4.5rem;
}

.about-content h2 {
  text-align: left;
  line-height: 1.2;
}

.about-content h3 {
  font-size: 2.6rem;
}

.about-content p {
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
}
/* About section end */

/* Service section start */
.services h2 {
  font-family: 'Tondo';
  margin-bottom: 5rem;
}

.services-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.services-container .service-box {
  flex: 1 1 30rem;
  background: var(--secondary-bg-color);
  padding: 3rem 2rem 4rem;
  border-radius: 2rem;
  text-align: center;
  border: 0.2rem solid var(--bg-color);
  transition: 0.5s ease;
}

.services-container .service-box:hover {
  border-color: var(--main-color);
  transform: scale(1.02);
}

.service-box i {
  font-size: 7rem;
  color: var(--main-color);
}

.service-box h3 {
  font-size: 2.6rem;
}

.service-box p {
  font-size: 1.6rem;
}

/* Popup Info */
.popup-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 98;
  justify-content: center;
  align-items: center;
}

[class ^= "popup-content-"] h3{
  font-family: 'Tondo';
  text-shadow: -2px 2px rgba(137, 5, 5, 0.574);
}
[class ^= "popup-content-"] b{
  font-family: 'Tondo';
  font-weight: 100;
}

.popup-content-1 {
  background: url(/img/event-moderator.PNG);
  background-repeat: no-repeat;
  background-size: cover;
}
.popup-content-2 {
  background: url(/img/creative-campaign.PNG);
  background-repeat: no-repeat;
  background-size: cover;
}
.popup-content-3 {
  background: url(/img/market-services.png);
  background-repeat: no-repeat;
  background-size: cover;
}

[class ^= "popup-content-"] {
  position: absolute;
  top: 15%;
  left: 20%;
  transform: translate(-20%, -20%);
  width: 60%;
  height: 80%;
  padding: 20px;
  border-radius: 20px;
  box-sizing: border-box;
  animation: myAnim 0.5s ease 0s 1 normal forwards;
  overflow: hidden;
}
[class ^= "popup-content-"] section {
  position: absolute;
  top: 10%;
  left: 1px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  animation: fadeIn 0.8s ;
}
[class ^= "popup-content-"] .section2 p {
  font-size: 1.5rem;
}
[class ^= "popup-content-"] .section2 {
  position: absolute;
  top: 0;
  left: 1px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  animation: fadeIn 0.8s ;
}
[class ^= "popup-content-"] .section3 {
  position: absolute;
  top: 0;
  left: 1px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  animation: fadeIn 0.8s ;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
[class ^= "popup-content-"] p {
  width: 90%;
}

[class ^= "popup-content-"] b{
  white-space: nowrap;
}

#e-slide-2{
  display: none;
}
#eslidebtn {
  position: absolute;
  right: 10px;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  padding: 5px;
  cursor: pointer;
  z-index: 99;
} 


@keyframes myAnim {
  0% {
    opacity: 0;
    transform: scale(0.6);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

[class ^= "popup-content-"] h3 {
  font-size: 2.6rem;
  text-align: left;
}

[class ^= "popup-content-"] p {
  font-size: 1.6rem;
  text-align: left;
}

.close-button {
  text-align: center;
  background-color: #fc00002f;
  width: 5%;
  border-radius: 2px 20px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  font-size: 2.6rem;
  color: var(--main-color);
  transition: 200ms ease-in-out;
  z-index: 99;
}
.close-button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 1rem var(--main-color);
}
/* Popup Info ^^^*/
/* Service section end */

/*......Product section start......*/
#products {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 60px 0;
}

.pro_container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.items-links {
  width: 60%;
  margin: 40px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.item-link {
  border: 2px solid var(--main-color);
  padding: 10px 30px;
  font-size: 18px;
  font-weight: 500;
  color: var(--main-color);
  cursor: pointer;
  border-radius: 10px;
  transition: 0.4s ease;
}

.item-link:hover {
  background: var(--main-color);
  color: #fff;
}

.menu-active {
  background: var(--main-color);
  color: #fff;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  overflow-y: scroll;
  width: 100%;
  height: 315px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.gallery {
  ::-webkit-scrollbar {
    display: none;
  }
}

.product-img {
  border-radius: 10px;
  border: 1px solid var(--main-color);
  margin-right: 1px;
  height: 14rem;
  overflow: hidden;
  /* box-shadow: 0 0 4px rgba(175, 175, 175, 0.1); */
  animation: myAnim 0.5s ease 0s 1 normal forwards;
}

@keyframes myAnim {
  0% {
    opacity: 0;
    transform: scale(0.6);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  transition: 0.4s ease;
}

.product-img:hover img {
  transform: scale(1.1);
}

/*......Product section end......*/

/*......ContactUs section start......
.contactUs h2 {
  margin-bottom: 3rem;
}
.contactUs form {
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
}
.contactUs form .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contactUs form .input-box input,
.contactUs form textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: var(--text-color);
  background: var(--secondary-bg-color);
  border-radius: .8rem;
  margin: .7rem 0;
}
.contactUs form .input-box input {
  width: 49%;
}
.contactUs form textarea {
  resize: none;
}
......ContactUs section end......*/

/* Contact us backup start */
.contact-wrap {
  width: 80%;
  height: auto;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.contact-in {
  padding: 40px 30px;
}
.contact-in:nth-child(1) {
  flex: 30%;
  background: url(/img/logo1.jpg);
}
.contact-in:nth-child(2) {
  flex: 45%;
  background: var(--secondary-bg-color);
}
.contact-in:nth-child(3) {
  flex: 25%;
  padding: 0;
}
.contact-in h1 {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 20px;
}
.contact-in h2 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 15px;
}
.contact-in h2 i {
  font-size: 20px;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  background: var(--main-color);
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
}
.contact-in form {
  width: 100%;
  height: auto;
}
.contact-in-input {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  border: 1px solid var(--main-color);
  background: transparent;
  border-radius: 10px;
  color: #fff;
  outline: none;
  padding-left: 5px;
  font-size: 12px;
  font-weight: 300;
}
.contact-in-textarea {
  width: 100%;
  height: 140px;
  margin-bottom: 20px;
  border: 1px solid var(--main-color);
  color: #fff;
  border-radius: 10px;
  background: transparent;
  padding-top: 5px;
  padding-left: 5px;
  font-size: 12px;
  font-weight: 300;
  resize: none;
}
.contact-in-btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--main-color);
  border-radius: 1rem;
  color: var(--text-color);
  transition: 0.3s ease-in-out;
  font-size: 1.6rem;
  cursor: pointer;
}
.contact-in-btn:hover {
  box-shadow: 0 0 1rem var(--main-color);
}
.contact-in iframe {
  width: 100%;
  height: 100%;
}



/* Contact us backup end */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 9%;
  background: var(--secondary-bg-color);
}
.footer-text p {
  font-size: 1.6rem;
}

.footer-icon #scrollbtn{
  display: none;
  padding: 7px;
  animation: btnfade 0.7s ease-in-out;
}
@keyframes btnfade {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
.footer-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 20px;
  z-index: 99;
  transition: 200ms ease-in-outs;
}
.footer-icon:hover {
  transform: scale(1.1);
  box-shadow: 0 0 1rem var(--main-color);
}
.footer-icon a i {
  font-size: 2.4rem;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--secondary-bg-color);
}





/*             --Media Query--               */

@media (max-width: 768px) {
  #menu-icon {
    display: block;
  }
  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background: var(--main-color);
    border-top: .1rem solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
    display: none;
  }
  .navbar.active {
    display: block;
  }
  .navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
  }
  .navbar a:hover {
    color: var(--secondary-bg-color);
  }
}



@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 991px) {
  .header {
    padding: 2rem 3%;
  }
  section {
    padding: 10rem 3% 2rem;
  }
  .footer {
    padding: 2rem 3%;
  }
}


@media only screen and (max-width: 480px) {
  .contact-in:nth-child(1) {
    flex: 50%;
  }
  .contact-in:nth-child(2) {
    flex: 50%;
  }
  .contact-in:nth-child(3) {
    flex: 100%;
  }
}
@media only screen and (max-width: 360px) {
  .contact-in:nth-child(1) {
    flex: 50%;
  }
  .contact-in:nth-child(2) {
    flex: 50%;
  }
  .contact-in:nth-child(3) {
    flex: 100%;
  }
}



/*......Product section responsive start......*/
@media (max-width: 1024px) {
  .container {
    width: 90%;
  }
  .items-links {
    width: 90%;
  }
  .popup-content {
    overflow: hidden;
    overflow-y: scroll;
  }
}

@media (max-width: 991px) {
  .items-links {
    width: 100%;
  }
  .gallery {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .items-links {
    justify-content: space-between;
    gap: 0;
  }
  .gallery {
    grid-template-columns: 1fr;
  }
  .product-img {
    height: max-content;
  }
}